[2014-08-06 20:25] BjornW opened #1 "CC0 support not implemented"
This was sent to me by someone via email:
'Why isn't CC0 https://creativecommons.org/publicdomain/zero/1.0/ license available?'

My answer so far:
'We're using the CC API to grab the license selection, so either we're doing something wrong or CC is not making CC0 available via this method. I will add this to our bugtracker so we can look into it'

[2015-04-21 15:17] mattl opened #2 "Does it support WordPress 4.2?"
It would be good to get a release out.

[2015-04-21 15:33] tarmot commented on #2
It should support 4.2. I'll verify this soon (latest tomorrow). And yes, getting a release out would be good. :)

[2015-04-21 15:58] tarmot commented on #2
Verified. Works as it should.

[2015-04-21 15:58] #2 closed

[2015-04-22 13:17] BjornW commented on #2
Hi guys,

I'm (still) finishing renovations and don't have time until after 15 May
to create a proper release. @Tarmo: are you able to create a new release
before that?

grtz
BjornW

On 21-04-15 17:58, Tarmo Toikkanen wrote:

--

met vriendelijke groet,
Bjorn Wijers

* b u r o b j o r n .nl *
digitaal vakmanschap | digital craftsmanship

Postbus 14145
3508 SE Utrecht
The Netherlands

tel: +31 6 49

[2015-04-22 14:31] tarmot commented on #2
The code is basically working as it should. Not sure what all needs to be done, really. Some polishing up of documentation, and certainly the UI texts can be looked over and improved.

[2015-05-07 18:50] janeatcc opened #3 "Plugin install error"
Unpacking the package…

Installing the plugin…

The package could not be installed. No valid plugins were found.

Plugin install failed.
![wp plugin install fail](https://cloud.githubusercontent.com/assets/6394777/7523236/3f810b86-f4af-11e4-8ee0-cbce42c8c2f1.jpg)

[2015-05-12 22:51] janeatcc opened #4 "WP Plugin directory page needs updating?"
See https://wordpress.org/plugins/creative-commons-license-widget/. If this GitHub is up to date, can we update the version in the plugin directory?

[2015-05-13 20:26] BjornW commented on #4
Hi Jane, the one in the WordPress repository is such an old version that it will not be compatible with the new plugin here on Github. So before updating the old plugin we need to devise a strategy to deal with this.

[2015-05-13 20:36] janeatcc commented on #4
I see. It's less important for us to update that particular page, than to get an ideal working version of the current plugin in the WP repository once it is ready. I can help get the latter, including WP promotion around it, once we can see that this current version of the plugin has the features we ideally desire.

See issue https://github.com/creativecommons/wordpress-plugin/issues/3 and issue h

[2015-05-13 20:38] mattl commented on #4
I will add prepping a release to our work schedule

[2015-05-13 20:39] BjornW commented on #3
Could you specify more details such as: PHP version, webserver, OS and such?

[2015-05-13 20:46] BjornW commented on #4
Yes, Github is the place for suggestions & issues. Feel free to use the issue tracker for this, at least for now. I'm the one who developed the current version of the plugin in collaboration with @tarmot. Not sure if that answers your question with regards to who leads the current version of the plugin..

[2015-05-13 20:48] mattl commented on #4
@BjornW i assumed the CC Tech Team would handle releases and everyone would work on bugs when they could.

[2015-05-13 20:49] janeatcc commented on #4
@mattl @BjornW great!

The idea is to use the .org plugin as a model for an eventual .com integration (eg. like Medium's). So we would want it to include the works, including logos, etc., even if the .com one would have to be built differently. So please include me on review of plugin before release!

I'll use this GitHub to log issues, suggest improvements, etc., once I get a plugin installed and

[2015-05-13 20:52] BjornW commented on #4
@mattl I have no problem with CC Tech Team handling releases :)  The first release needs to done very carefully due to the backwards incompatibility of the original plugin. I'm not sure what the best strategy for this would be.

[2015-05-13 20:54] mattl commented on #4
My plan at least, was to make sure we use a unique name for this one, to
avoid any issues there. We may wind up doing a very basic release of the
old plugin to point people at this one ;)

[2015-05-13 21:29] janeatcc commented on #3
Server: http://schoolofopen.p2pu.org
WordPress 4.1.5 running School of Open theme http://schoolofopen.p2pu.org/wp-admin/themes.php
I use a Mac OSX Yosemite 10.10.3 (14D136)

[2015-05-13 22:21] mattl commented on #3
Do you know which version of WordPress that site is running? Also, do you
know who can update it to 4.2.2....

[2015-05-13 22:23] janeatcc commented on #3
No... P2PU. It would be much easier if we just installed the plugin on our version of WP so I could take a look at it? That's the only reason I'm trying to install it.

[2015-05-13 22:27] mattl commented on #3
The live website isn't a good testing place for plugins. Let me see what I
can do.

[2015-05-18 18:46] mattl opened #5 "License isn't shown to be selected from chooser"
It appears that the method we're using to get information back from the license chooser doesn't work any more, or at least doesn't show anything to the user. I chose BY-SA, after clicking "proceed" i got an empty white box, which I closed. After saving, some license info does appear on the blog.

WordPress 4.2.2 on Debian Jessie.

[2015-05-18 18:46] mattl commented on #5
@BjornW can you see if you can reproduce this?

[2015-05-18 18:48] mattl opened #6 "Display license text in a widget"
The current footer display doesn't work with the current default theme

[2015-05-18 18:51] tarmot commented on #5
Are you referring to license selection in the Wordpress network
settings, the Wordpress blog-specific settings, the author-specific
license selection, the content-specific license selection or all of them?

[2015-05-18 18:51] mattl commented on #5
The blog specific settings.

It *does* appear to save, but there's no visible clue to the user.

[2015-05-18 18:53] mattl commented on #5
http://www.foobargallery.com/ is the site.

[2015-05-18 20:31] BjornW commented on #5
@mattl will do after we've moved to our new place & settled in. Hopefully I'll have some time to do so in the first week of June. Roughly 2 wks from now.

[2015-05-19 06:58] tarmot commented on #5
Just tested on 4.2.2. Works as it should, gives the "proceed" info, the change is saved and is reflected immediately on the settings page and also on rendered front-end pages.
Possibly something amiss with the blog's or browser's security settings?

[2015-05-19 07:00] tarmot commented on #6
Right, the 2015 theme does something silly. Options are to disable the footer view and expect people to add the widget somewhere, or try to debug the footer location. But making theme-specific fixes sounds like a bad idea.

[2015-05-19 07:02] tarmot opened #7 "Blog archive page shows license from first shown post"
What should be shown is probably the blog default license and the additional warning that individual licenses may apply.

(of course, this only applies to situations where post- or author-specific licensing is enabled)

[2015-05-19 14:03] mattl commented on #5
Here are some screencasts that show it not working in two browsers with any kind of ad-block disabled.

http://labs.creativecommons.org/~mattl/wp-chromium.webm

http://labs.creativecommons.org/~mattl/wp-firefox.webm

[2015-05-19 14:04] mattl commented on #6
Can we add the licensing blog as a WP widget? All themes worth their salt support widgets.

[2015-05-20 04:05] tarmot commented on #6
There is a widget. Of course. But in case the widget hasn't been deployed by the blog admin, the plugin will display the license in the footer. Just to make sure that the license is always displayed. If this is not necessary, we can simply disable the footer display, and possibly add a warning into the backend in case the license widget has not been deployed.

[2015-05-20 04:13] tarmot commented on #5
OK, something's wrong with the connection there. In the general settings page, the license graphic is displayed above the "change license" link by dynamically loading it from CC's servers, like so:
![screen shot 2015-05-20 at 7 10 22](https://cloud.githubusercontent.com/assets/2327226/7718875/a0218eb0-febf-11e4-88ff-c5110f8c76ac.png)

You don't see even that, so something's blocking a connection t

[2015-09-18 17:43] janeatcc opened #8 "Compare lumen's CC plugin on candela (built on WP)"
Review, then incorporate any improvements to our plugin, suggest changes to theirs, etc.

https://github.com/lumenlearning/candela

[2015-09-21 08:33] BjornW commented on #8
Hi @janeatcc I did not see any CC License like plugin in the repo you linked. I'm probably overlooking something?

[2015-09-21 23:52] janeatcc commented on #8
Hi @BjornW - maybe it's not the same as this plugin, but CC license + PD selection is in there.

See https://github.com/lumenlearning/candela-vagrant/blob/master/tests/update-book.html
and https://github.com/lumenlearning/candela/pull/105 for example.

If it's not the same thing we can move this issue out of this WP plugin repo and into platform-initiative

[2015-09-30 19:52] BjornW commented on #8
Hi Jane, the stuff we might be interested in can be found in the candela-citation plugin. Although their approach is quite different from ours. For instance they are not using CC HQ's license chooser and instead use license data supplied with the plugin.

[2016-01-08 00:33] janeatcc opened #9 "cc configurator plugin"
How is this plugin different or alike? http://www.codetrax.org/projects/wp-cc-configurator/wiki

Do we need to do anything here or should we just congratulate the developer?

[2016-01-10 15:09] tarmot commented on #9
CC-configurator is an old acquaintance. We started working on this new official plugin because even CC-configurator did not have a sufficient feature set. It's missing support for multisite, and does not have author-specific license defaults. I'm glad to see they're back in active development, as the plugin was passive two years ago.

[2016-04-06 18:02] ryanmerkley opened #10 "Add copy and link re: relicensing"
When changing the site-wide license, add copy that explains to the user that any content downloaded and/or re-used prior to changing the license will still (and always) be available to that user under the previous license, and that they may continue to share it, allowing other users to download and use that content under the previous licenses. There's probably an FAQ entry on this on our site -- l

[2016-04-06 18:09] BjornW commented on #10
The same goes for individual content, if someone licensed a post and changes the license, it also may be distributed under both licenses. Should we make this more clear in general or just as a warning when changing licenses?

[2016-04-06 20:40] mattl commented on #10
@BjornW Looking at this :)

[2016-04-21 08:40] BjornW commented on #10
Allright :)

[2016-07-25 20:32] robmyers opened #12 "get_attribution_options switch incomplete?"
In class.creativecommons.org : get_attribution_options ,  I've seen it have no $attribution_options to return when the switch() hits the default and the if() in there fails.

I'm not sure whether this is the switch not capturing all the possibilities or bad options being passed in. I'll keep more of an eye out for it.

[2016-07-25 20:35] robmyers opened #13 "Meta Field Formatting Is Unappealing"
Go to: Media > [an image] > Edit more details.

The fields we have added are being formatted into tables.

The titles are aligned to the middle of the table row, so they are vertically aligned between the text field and the help.

The text fields do not fill the available space, and so look truncated in comparison with the standard fields above them.

I've not found a way of reformatting these usi

[2016-07-26 09:27] BjornW commented on #13
Haven't looked at it yet, but perhaps you're missing some WordPress specific CSS classes on your fields? If not you can also add those classes yourself and add a custom admin css stylesheet.

[2016-07-27 23:15] rheaplex opened #14 "wp_get_attachment_metadata() strips what it thinks are html tags in Exif metadata"
If we have a jpeg with a Copyright field like:

[code]

then when we upload the file to WordPress and fetch the Exif metadata using:

[code]

then the string we get for Copyright is:

[code]

I assume this is due to WordPress taking the sensible precaution of stripping HTML tags from outside input, but it does mean that the format we are using for license URLs falls foul of this.

I've chased this

[2016-07-27 23:34] robmyers commented on #14
wp_read_image_metadata()

calls:

    wp_kses_post_deep()

which strips tags.

So we have to use the php exif parsing.

@mattl does this indicate a more general problem with the Exif tag format we are proposing? I don't believe so, but worth considering.

[2016-07-28 00:40] robmyers commented on #14
Making progress with the php Exif parsing, just trying to make it efficient for the code and logical for the user.

[2016-07-29 18:11] robmyers commented on #14
Code now extracts license and attribution url when you view the media. Looking to see if I can hook this in to the image upload process, but if not this will be Good Enough, I think.

[2016-07-29 18:24] robmyers commented on #14
Metadata now extracted on image upload.

This won't get metadata for existing images if the plugin is installed and we have (e.g.) 20,000 images with Exif already in the system.

@mattl we can run the extract code when you view the image in the Media editor, or is this something we might want to give the user the option of running manually from the settings for the plugin (a button [Scan Existing

[2016-07-29 20:45] mattl commented on #14
Won't existing images have been previously stripped by WordPress?

[2016-07-29 20:46] robmyers commented on #14
I don't believe so. The strings are stripped after reading from the file, rather than the file itself being sanitised.

[2016-07-29 20:57] mattl commented on #14
![screenshot from 2016-07-29 15-56-15](https://cloud.githubusercontent.com/assets/33296/17263143/0538b4a8-55a5-11e6-9471-e62fa5f2e11b.png)

Maybe something like this? We could pull all the existing images from the CC website as a test, but also @ericsteuer has good insight into how this works on a big site liked Wired.com who probably have a few hundred thousand images.

[2016-07-29 21:14] robmyers commented on #14
I had in mind more a global "Extract CC License metadata where present but
don't overwrite anything" option.

We could also add a button to the media manager to do this for individual
images.

So the former would support hundreds of thousands, the latter just a few if
you only want to use a few.

On Fri, Jul 29, 2016 at 1:57 PM, Matt Lee <notifications@github.com> wrote:

[2016-07-29 21:15] mattl commented on #14
The worry I have there is that we'd wind up adding extra captions to existing images all over the place.

[2016-07-29 23:11] robmyers commented on #14
Sure. It's the sort of thing where the user will want the plugin to do the right thing, for a value of "the right thing" that will differ from case to case. And they'll really want an Undo button.

So if this is too difficult to do usefully we shouldn't make something that will just frustrate people. :-)

[2016-07-30 09:24] BjornW commented on #14
Why not use the 'regenerate thumbnails approach' in which you have a plugin run once for all existing images? This could be a seperate add-on plugin which can be removed after it has run, since it's likely to be run only once.

[2016-08-03 22:04] janeatcc opened #15 "no easy way to edit image attribution/license info after uploading"
or obvious enough that i can find..

[2016-08-03 22:05] janeatcc opened #16 "what does "author display name" radio button do?"
can't figure it out. see:
![wp plugin](https://cloud.githubusercontent.com/assets/6394777/17383617/b9c200d4-598b-11e6-8a66-6d35985d5364.jpg)

[2016-08-14 00:11] JtLively opened #17 "Activation Issue"
I tried to activate the plugin and got the following error:
Parse error: syntax error, unexpected '.', expecting ',' or ';' in /home4/_user_/public_html/wp-content/plugins/wordpress-plugin-awesome/includes/ccbutton.php on line 8

I replaced "." with "," and removed some a few ''s and then got errors involving Line 13 and then the following error:
Parse error: syntax error, unexpected '<' in /home4

[2016-11-15 02:07] cogdog commented on #9
It recently went "Deprecated" with lots of all caps warnings. Sad.  https://wordpress.org/plugins/creative-commons-configurator-1/

[2016-11-15 09:06] robmyers commented on #9
Oh yes that's sad. It's good they're giving their users a heads up and suggestions for a migration path. We should look at their work again and see if there is any functionality we don't have, or any useful insights into how to handle licensing at the code level.

[2016-11-16 19:49] cogdog commented on #17
I'm seeing same error in the `awesome` branch version. The "." is correct, but I am stumped to figure out what is wring with the string, everything looks constructed well to me. Pinging Rob.

[2016-11-16 19:56] cogdog commented on #17
Doh. There is no need for the string concatenation. This works:

[code]
Will submit.

[2016-12-09 17:28] clintlalonde opened #18 "Plugin options not visible"
WP 4.7 using default 2017 theme.
New clean install of WP.
Installed awesome branch of plugin & activated plugin. Can't seem to find options in the admin interface to set config options (CC license type, etc). Nor are there options on individual posts to set licenses.
![bugshot2](https://cloud.githubusercontent.com/assets/679506/21058209/cc4a01a0-bdf1-11e6-8752-c91747363242.PNG)
![bugshot1](https:/

[2016-12-09 22:15] robmyers commented on #18
Please try the latest version? I refactored the main class so that it gets called in the right place now.

[2016-12-09 23:27] robmyers opened #19 ""Edit media Fields" Formatting Needs Improving"
The labels are centered in the table row. If we can't get rid of the table layout to match the built-in fields' layout (like "Caption" and "alternate Text") we should at least top-align the labels.

[2016-12-09 23:29] robmyers opened #20 "Add Image button to Non-Captioned images"
Currently we only handle captioned images. We can handle non-captioned images with the get_image_tag filter. So we should.

[2016-12-09 23:31] rheaplex opened #21 "Attach 1CA To Button"
Currently the One Click Attribution widget floats at the right of the attribution.

We should combine this with the license icon button, subject to the following constraints:
* It should be obvious to the user that they can click the icon button to copy attribution.
* We generate html+rdfa that the scraper and that browser plugins can read.

[2016-12-09 23:33] robmyers opened #22 "Add Admin Configuration Option To Disable Help Button"
Currently the 1CA widget has a [?] help button after it. This requires more javascript and takes up more screen real estate than the widget alone does. So it would be nice to add an admin option to remove this if the site administrator feels it is worth doing so.

[2016-12-09 23:34] robmyers opened #23 "Migrate New 1CA Widget Style To Button Dev Project"
Migrate the hand-coded new 1CA widget CSS style back to the button dev project.

[2016-12-09 23:39] robmyers opened #24 "Add Drop-Down Menu To Image License Field"
Place a pop-up menu under the Media image license field.

It should contain:
* Original
* [CC licenses]
* None

Initially select "Original".

Selecting "Original" resets the field to its initial value (including no value).

Selecting "None" clears the field.

[2016-12-13 00:39] #24 closed

[2016-12-13 19:30] robmyers commented on #20
No we can't. Use [license] shortcode instead.

[2016-12-13 21:29] #20 closed

[2016-12-15 17:24] clintlalonde commented on #18
Fixed, thanks!

[2016-12-15 17:25] #18 closed

[2016-12-21 01:22] robmyers opened #25 "License Changing For Users Broken"
Cannot change license for individual users.

License is received from API and added to hidden HTML tags OK.

[2016-12-21 01:23] robmyers opened #26 "License Changing For Posts Broken"
Cannot change license for individual posts.

License is received from API and added to hidden HTML tags OK.

[2016-12-21 01:24] robmyers opened #27 "Add "Choose CC0" Button Next to "Choose License" Button"
Make it easier for users to choose CC0 if they wish (although beware "nudge" effects).

[2017-01-03 17:37] #26 closed

[2017-01-11 23:38] #25 closed

[2017-01-11 23:39] robmyers opened #28 "Attribution Name Not Saving"
Changing the attribution name and saving isn't working.

[2017-01-11 23:47] robmyers opened #29 "Update Documentation To Describe New Features"
Describe and illustrate the usage of the image license fields and shortcodes.

[2017-01-12 00:12] robmyers opened #30 "Fix text size in license block, it varies between Caption/Non Caption at the moment"
Like this:

![image](https://cloud.githubusercontent.com/assets/21746/21871703/c5fc5a64-d818-11e6-8d1d-8febd41aceff.png)

[2017-01-12 00:18] rheaplex opened #31 "Handle license shortcode on work without license"
Currently we get a malformed license block:

![image](https://cloud.githubusercontent.com/assets/21746/21871814/800897ec-d819-11e6-995e-3e9b6d7ea407.png)

It's not a showstopper but should be cleaned up.

Do *not* implement an all rights reserved path to handle this.

[2017-01-12 00:18] robmyers commented on #27
This is handled in the normal licensing workflow.

Don't push it.

[2017-01-12 00:18] #27 closed

[2017-01-12 00:51] #29 closed

[2017-01-12 00:52] #28 closed

[2017-01-12 00:53] robmyers commented on #19
This seems to be a core WordPress issue. Not fixing.

[2017-01-12 00:53] #19 closed

[2017-01-12 00:53] robmyers commented on #15
See latest version and updated README.md .

[2017-01-12 00:53] #15 closed

[2017-01-12 01:51] robmyers opened #32 "Change source_url to attribution_url"

[2017-01-14 00:17] robmyers commented on #30
We've removed the caption shortcode handling for now.

[2017-01-14 00:17] #30 closed

[2017-01-14 00:17] #32 closed

[2017-01-14 00:31] robmyers opened #33 "CSS - Z-order For Menu Popup"
e.g. on Eleganto the format popup may end up under the "next item" link.

[2017-01-14 00:32] robmyers opened #34 "CSS - Don't Inherit Text Properties For Buttons"
e.g. blue text in Giga Store, font size in everything.

[2017-01-14 00:33] robmyers opened #35 "CSS - No Button Animations"
e.g. in LawyeriaX

[2017-01-14 00:34] robmyers opened #36 "CSS - Make Sure Popup Menu Positions Correctly"
e.g. in modernize it is placed too far down and to the right.

[2017-01-14 00:35] robmyers commented on #34
Also highlight colour in Sydney.

[2017-01-14 00:36] robmyers commented on #34
Menu item colour in Total.

[2017-01-14 00:37] robmyers opened #37 "CSS - Popup Menu Item Background Width"
Can be wrong, e.g. in Twenty Eleven.

Ensure it is always the correct width.

[2017-01-14 00:38] robmyers commented on #37
Also centered and wrong width and offset in Twenty Twelve.

[2017-01-14 00:38] robmyers commented on #34
Colour in Twenty Thirteen.

[2017-01-14 00:39] robmyers opened #38 "CSS - No Button Click Offsets"
e.g. in Twenty Thirteen.

[2017-01-16 23:53] robmyers opened #39 "CSS - Button blocking text"
e.g. in Total. at 110% zoom.

[2017-01-17 01:04] robmyers commented on #39
Doesn't break functionality or look *too* bad.

Deferred to after Awesome.

[2017-01-17 01:49] robmyers commented on #33
Unfixable as z-order cannot be increased above items in other sections of the page, esp. overlays.

[2017-01-17 01:49] #33 closed

[2017-01-17 01:58] #38 closed

[2017-01-17 01:58] #37 closed

[2017-01-17 01:58] #36 closed

[2017-01-17 01:58] #34 closed

[2017-01-17 01:59] #35 closed

[2017-01-17 21:59] robmyers opened #40 "Fix License Headers"
Yes. Yes I did miss the headers on some of the files. Gah.

[2017-01-18 21:12] acoolidge opened #43 "Pressbooks"
Appears that the plug in does not work with [Pressbooks | The open book creation platform](https://pressbooks.com/)

[2017-01-18 21:50] aharonium opened #44 "REQ: Backend option to limit licenses to only CC Open Content compatible licenses (CC BY, BY-SA, and 0)"
Request to include a back-end option to limit available licenses to only CC Open Content compatible licenses (CC BY, BY-SA, and 0). This option is really needed for multi-user open-source projects that are powered by compatible open content licenses. The addition of NC or ND licensed content by any user would present a poison pill for a project with CC BY-SA as the base license.

for an example of

[2017-01-19 11:07] simpson13579 opened #45 "@qx1232@gmail.com"

[2017-01-19 16:33] simonemontrucchio opened #46 "Fatal Error"
Plugin cannot be activated.

Parse error: syntax error, unexpected '[' in /membri/sitogruppoprova/wp-content/plugins/creativecommons-wordpress-plugin-2.1-beta/includes/class-creativecommons-image.php on line 298

[2017-01-19 19:15] cogdog opened #47 "Home Page Attribution is for last item in loop"
It might by my whacky theme, but the attribution listed is not the general one for the site, but the last post in the loop:

http://cogdogblog.com/

It does work for archives
http://cogdogblog.com/category/photo/
http://cogdogblog.com/tag/attribution/

[2017-01-19 19:16] cogdog opened #48 "Must click "proceed" for Chooser"
Maybe for documentation, or perhaps a catch on the modal close- if I do not click the "proceed" link in the chooser, my license change is not done - the first time I did this I close the modal on the "x". Maybe the modal should not have a close or some sort of "apply" button.

[2017-01-19 19:21] cogdog opened #49 "Missing "license" at end"
For some reason, on a second test site http://barkingdog.me the text for the license link drops the word "License" leaving an incomplete sentence. Saw same thing for using BY and BY-SA

![missing license](https://cloud.githubusercontent.com/assets/463038/22121536/bf7f5d60-de41-11e6-8330-464b17f7eb97.jpg)

[2017-01-19 19:24] cogdog opened #50 "Other Attribution Text not used on home page"
Experimenting with the other attribution text:

![other text](https://cloud.githubusercontent.com/assets/463038/22121619/08122792-de42-11e6-9748-16c06a757e87.jpg)

On the home and archive page it's not used:

![no noun](https://cloud.githubusercontent.com/assets/463038/22121644/1781ad74-de42-11e6-940d-87c7f528f6e3.jpg)

And if there is no URL, it is missing before/after spaces on single posts

![o

[2017-01-19 19:26] simpson13579 commented on #50
qx1232

[2017-01-23 05:59] faberglas commented on #46
I have the latest version of WP on my own domain. My theme is Salient 7.0.1 from themeforest.net

I got three warnings on my Salient dashboard:
Redux Framework Warning
select2-css CDN unavailable. Some controls may not render properly. Please wait a few minutes, then try refreshing the page. Unable to load some remotely hosted scripts..
Redux Framework Warning
select2-js CDN unavailable. Some cont

[2017-01-26 14:24] mzeinstra opened #51 "License chooser gives a 403 forbidden"
The embedded license chooser gave a forbidden on this URL:

https://creativecommons.nl/wp-content/plugins/creativecommons-wordpress-plugin-2.1-beta/license-return.php?url=http%3A//creativecommons.org/licenses/by/4.0/&name=Attribution%204.0%20International&button=https%3A//i.creativecommons.org/l/by/4.0/88x31.png&deed=http%3A//creativecommons.org/licenses/by/4.0/

[2017-04-04 04:46] lovethelord commented on #9
What is this!?

[2017-04-04 22:47] robmyers commented on #9
It's a WordPress plugin that allows you to apply a Creative Commons license to your blog and/or photos.

[2017-06-24 22:05] JtLively commented on #17
Should I try this plugin again for testing or do yall have all the testing done?

[2017-10-17 03:56] jonathannz commented on #51
I get the same issue. I get to the point where I have to select, "You may now proceed". I click "proceed" and it leads to a 403 error.

`Error Code: 403
Your IP address is: xxx.xxx.173.170
You requested the URL: /wp-content/plugins/creativecommons-wordpress-plugin-2.1-beta/license-return.php?url=http%3A//creativecommons.org/licenses/by-nc-nd/4.0/&name=Attribution-NonCommercial-NoDerivatives%204.0%

[2017-10-17 03:57] jonathannz commented on #51
I see this was reported in January. That was over 9 months ago, with no response. Is this plugin under active development?

[2017-11-11 00:51] #45 closed

[2017-11-11 00:52] #23 closed

[2017-11-11 00:56] robmyers commented on #17
I've merged cogdog's contribution. There may be another round of development soon...

[2017-11-11 00:56] #17 closed

[2017-12-18 04:34] brijn1975 commented on #1
i dont understand.  all i know is this is my 7 th iphone 7 +.  call it what you will, but i am battling this "hack"  almost like its a full time job.  other devices are able to change my settings and control functions of my phone.  to what end.  my data last month jumped to 30 gbs.  92% on techknowledgy.  whats this about and who is doing this?

[2017-12-18 04:41] brijn1975 commented on #49
also my samsung android was hacked inguess over two years ago. my phone was controlled better and faster then i could keep up.  i turned off the phone for many months and thought it was gone but it came back with a vengeance.  they even dropped all playstore apps when inclined.  i got the apple as a fix but things are just as crazy.  ive taken so many screenshots of proof but appls does nothing.

[2018-09-21 16:19] r-a-y opened #52 ""Change License" button doesn't refresh license on settings page"
Hi, we're testing the Creative Commons plugin to see if it fits our requirements.

Currently, testing the latest version from the `develop` branch and clicking on "Change license" opens the CC configurator website (https://creativecommons.org/choose/)  in a modal.  However, clicking on some options to change the license does not update the license in the WordPress settings page.

I'm guessing the

[2018-09-22 17:28] r-a-y commented on #1
This is implemented, but in the Chooser, you have to specifically click on "CC0":

![Screenshot of Chooser with CC0 link highlighted](https://user-images.githubusercontent.com/505921/45919922-c4210f80-be8c-11e8-9d84-c82c92ac2893.png)

After you have clicked on CC0, you'll need to click on the the "Proceed" text-link so the script will add the license to the settings page.

[2018-09-22 21:54] r-a-y opened #54 "Display of license in footer is poor"
I believe the default behavior of showing the license in the footer without any regard for the styling of the current site results in poor UX.

I think this behavior should be turned off or removed.  Let the site admin add the license widget so they can display the license wherever they want.

This also goes for the individual post license.  It should be displayed at the end of the post content an

[2019-03-19 11:27] TheCrowned commented on #46
@simonemontrucchio This is likely to be due to the fact that you are running an outdated PHP version (< 5.4). The problem lies in the compact syntax for defining an array:

`foreach (['license_url', 'attribution_url', 'source_work_url', 'extra_permissions_url'] as $field) {`

which instead could be

`foreach ( array( 'license_url', 'attribution_url', 'source_work_url', 'extra_permissions_url' ) as

[2019-03-20 09:28] BjornW commented on #46
May I suggest to define the array outside of the loop?

This is:
1) more readable
2) better performance (although I doubt you'll notice) due to the array being defined each foreach call.

Instead of:
`foreach ( array( 'license_url', 'attribution_url', 'source_work_url', 'extra_permissions_url' ) as $field) {`

I'd suggest:
[code]

[2019-03-23 08:25] TheCrowned commented on #46
Totally! Just done that :)

[2019-03-27 11:57] pravan commented on #54
There is no fail safe way to include the license text in the theme's footer. The only way we can display content in the footer is either with the help of widget areas in the footer or with the help of the wp_footer hook.

Currently, the plugin by default includes the license text with the help of wp_footer hook. You can also include the text in any one of the widget areas instead.

In your case al

[2019-03-27 15:37] r-a-y commented on #54
We created our own Creative Commons license plugin due to the lack of activity here.

You can find it here:
https://github.com/cuny-academic-commons/cac-creative-commons

Examples:

![Widget options](https://redmine.gc.cuny.edu/attachments/download/9043/license-widget-options.png)

![Post options](https://redmine.gc.cuny.edu/attachments/download/9046/license-post-options.png)

![Post display](http

[2019-05-28 15:10] ahmadbilaldev opened #61 "Code is less readable, lacks WP Indentation Standards"
The readability throughout the code is not impressive. There is a lack of consistency as it does not follow WordPress Coding Standards.

**Describe the solution you'd like**
There are clear rules defined by the official [WordPress Coding Standards.](https://make.wordpress.org/core/handbook/best-practices/coding-standards/)

The fixes that come under this issue include:
- [Indentation](https://make

[2019-05-28 15:30] ahmadbilaldev opened #62 "Use single quotes for strings"
There is inconsistency in the use of quotes. For the most part, double quotes are used for strings.

**Describe the solution you'd like**

In keeping consistent with PHP coding conventions, the general rule of thumb to follow is to always use single quotes to define your strings.

Since much of the work done in WordPress also includes writing out markup within a PHP string, it's best to place thos

[2019-05-28 16:46] ahmadbilaldev opened #63 "Inline documentation incomplete/missing"
The current code is barely documented. Inline documentation includes comments, documentation in the form of blocks and more. According to WordPress Documentation Standards, the following should be documented.

- Functions and class methods
- Classes
- Class members (including properties and constants)
- Requires and includes
- Hooks (actions and filters)
- Inline comments
- File Headers
- Constant

[2019-05-29 10:29] ahmadbilaldev opened #64 "Enforce un-slashing of the input data"
One of the errors reported by phpcs is:

`ERROR   | Missing wp_unslash() before sanitization.`

WordPress Coding Standards ask us to pass the input data through wp_unslash(), because WordPress uses "magic-quotes" for all of the input superglobals ($_GET, $_POST, etc.). Otherwise, when the data is saved to the database and then later pulled back out of the database and displayed, it will have those

[2019-05-29 15:24] #62 closed

[2019-05-29 15:51] ahmadbilaldev opened #65 "Fix errors related to validation and sanitization of input data"
The following errors are being reported by WPCS.

`ERROR   | Detected usage of a non-sanitized input variable`
`ERROR   | Detected usage of a possibly undefined superglobal array index`

**Describe the solution you'd like**

WPCS is asking us to do is sanitize the input data before we use it. Exactly how that is done will depend on the type of data. If it is a URL, we would use `esc_url_raw()` to

[2019-05-29 16:12] ahmadbilaldev opened #66 "Eliminate use of extract()"
In the CreativeCommons_widget class `extract()` is being used which is deprecated and highly discouraged by Word Press Coding Standards. It can cause possible errors and also leads to confusion because the variable becomes hard to trace -where it came from and how it got there-

**Describe the solution you'd like**

The solution is to simply avoid extract() as it is not secure, can create a lot of

[2019-05-29 17:27] ahmadbilaldev opened #67 "Avoid using variables for text domains"
WordPress plugin developer handbook explicitly forbids using variables for text domains.

`__( ‘Translate me.’ , $text_domain );`

For example:
In this code, a private variable `localization_domain` is being used for the text domain, CreativeCommons.
`$title = __( 'License', $this->localization_domain );`

**Describe the solution you'd like**

While it might sound convenient to use a variable for

[2019-05-30 07:31] #67 closed

[2019-05-30 13:42] #61 closed

[2019-06-02 23:58] #66 closed

[2019-06-03 00:30] ahmadbilaldev opened #68 "Declare visibility on all class methods"
According to WordPress Coding Standards, visibility must be declared on each class method including public methods. Currently, it is being reported as an error by PHPCS.

[2019-06-03 00:54] #68 closed

[2019-06-03 04:12] ahmadbilaldev opened #69 "Create and add CC Gutenberg Block to support the default Gutenberg Editor"
There's no Creative Commons block for new WordPress 5.0 Editor. WordPress has a JavaScript React.js based new editor codenamed Gutenberg. It is the default editor, which means that the user will have to replace it with Classic editor forcefully by using other plugins. Or they will lose CC licensing functionality.

**Describe the solution you'd like**

We should create Gutenberg blocks for Creative

[2019-06-03 06:15] ahmadbilaldev commented on #69
We need to discuss the following points:

- The layout of the block.
- Separate blocks for the licenses? How will the user search for them?

[2019-06-03 13:27] ahmadbilaldev commented on #69
An example layout of the block can be seen here from live preview:

[2019-06-03 13:52] hugosolar commented on #69
I can think in 2 things
- Maybe it can be just one block where the user can select the kind of license wanted, but maybe save the last selected for the next block selection
- maybe in the block the user can choose if need the default css or a custom css with a link to the documentation with the defined classes in the layout so the user can customize the styles

[2019-06-03 18:21] ahmadbilaldev commented on #69
I would also like you to review the layout in terms of design. My opinion is to keep it as minimal as possible.

[2019-06-04 13:13] #63 closed

[2019-06-29 10:13] ahmadbilaldev commented on #7
Now, with the update, Gutenberg blocks are being used to license any specific post or posts. This should not be an issue anymore.

[2019-06-29 10:13] #7 closed

[2019-06-29 10:18] ahmadbilaldev commented on #8
The Lumen's plugin has been deprecated and is no longer maintained.

[2019-06-29 10:18] #8 closed

[2019-06-29 10:20] #9 closed

[2019-06-29 10:33] ahmadbilaldev commented on #46
Issue fixed in PR #56

[2019-06-29 10:33] #46 closed

[2019-06-29 10:42] ahmadbilaldev commented on #47
Fixed with the addition of Gutenberg blocks. See [Issue #7](https://github.com/creativecommons/creativecommons-wordpress-plugin/issues/7).

[2019-06-29 10:42] #47 closed

[2019-07-02 13:36] #64 closed

[2019-07-02 13:36] #65 closed

[2019-07-02 14:07] ahmadbilaldev commented on #49
Fixed in [PR #59](https://github.com/creativecommons/creativecommons-wordpress-plugin/pull/59).

[2019-07-02 14:07] #49 closed

[2019-07-15 14:08] #69 closed

[2019-07-15 14:09] #52 closed

[2019-07-15 14:09] #51 closed

[2019-07-15 14:10] #1 closed

[2019-07-15 14:10] #4 closed

[2019-07-15 14:11] #3 closed

[2019-07-16 08:46] mzeinstra commented on #51
Why did this close? Are you going to remove this functionality?

[2019-07-16 11:58] ahmadbilaldev commented on #51
I couldn't reproduce the error. It may be because some changes have been made that fixed the chooser returning invalid URLs. Moreover, we are removing the embedded chooser and linking to the new one here:
https://creativecommons.org/choose/
Hence this issue becomes irrelevant for now.

[2019-07-16 19:12] mzeinstra commented on #51
So will you update your documentation to reflect that this feature is no longer supported. Also do you know where this feature is still being used in the wild like @jonathannz use of this feature.

I removed it from my chapter site, since I saw no support but communicating this would be good practice.

[2019-07-17 15:36] TimidRobot opened #70 "Integrate License Chooser"
The license chooser was removed due to errors and a desire to avoid duplicating work being done by other Google Summer of Code projects.

Currently, the plugin only links to [Choose a License](https://creativecommons.org/choose/).

We should consider adding license selection back in at a future date (after Summer of 2019).

[2019-07-17 15:42] #48 closed

[2019-07-17 15:44] #5 closed

[2019-07-17 15:49] #40 closed

[2019-07-21 17:01] ChoccyHobNob opened #71 "Single instance causes two plugins in dashboard"
**Describe the bug**
Two plugins are presented in the dashboard plugins page

both `creativecommons.php` and `license-return.php` contain a Plugin-Name: field

**To Reproduce**
Steps to reproduce the behavior:
1. Upload the creativecommons folder
2. go to Plugins in Dashboard.

**Expected behavior**
Just the one plugin to enable

**Screenshots**
![Screenshot 2019-07-21 at 11 53 56](https://user-im

[2019-07-23 09:49] #71 closed

[2019-07-23 09:53] ahmadbilaldev commented on #71
Bug fixed. It was a faulty header in the `license-return.php`. It should not reproduce now. If you can, please confirm by uploading the plugin again. Thank you for the feedback, let us know if you encounter any other problem, it helps.

[2019-07-23 15:02] ChoccyHobNob commented on #71
That's better, thanks.

Might want to update the release package?...

[2019-07-23 15:33] a8bit opened #72 "Suggestions"
There are a couple of things that need to happen before I can activate this plugin.

- [x] Widget. There are no widget options, at a minimum there should be the ability to edit the title of the widget. Most people don't need to announce that the widget is a Licence, it's obvious by the content, it should be possible to turn off the title, usually that is done in the widget options by just removing

[2019-07-23 22:54] ahmadbilaldev commented on #71
Sure, we will.

[2019-07-24 22:09] ChoccyHobNob commented on #72
I am keen to see this plugin become something useful. I have a couple of websites that offer creations using differing licences and its a pain to manage at the moment, this plugin looks like it could solve those problems so I'd like to help push it in the right direction.  A good plugin will encourage more usage of the licences as well, that wouldn't be a bad thing.

[2019-07-25 11:30] ahmadbilaldev commented on #72
Thank you for the suggestions.

I totally agree with you on 2 and 3. and they are already under progress. The widget options are also a good idea, noted.

Could you elaborate more on the fourth point?

It is possible to integrate the features in blocks, maybe by using Rich Text blocks. We can add these features to both the blocks and the widget and let the user decide the one. The idea is to suppo

[2019-07-25 15:23] ChoccyHobNob commented on #72
Maybe I misunderstand how the blocks will be implemented. If I have a site licence set, and then set a licence for my page, the page licence overrides the site licence. What happens if I then add a licence to the body text using a block? does it remove the sidebar widget or change it? can I have multiple items on a page with multiple licence blocks (the 'useful' use case I imagine for a block base

[2019-07-25 15:30] ChoccyHobNob commented on #72
Point 4. I think I am thinking about custom post types, not taxonomies. Gallery plugins, download plugins, portfolio plugins etc can implement custom post types that go along with posts, pages, media etc. It should be possible to set the licence for these post types as well as posts and pages

[2019-07-25 16:08] ahmadbilaldev commented on #72
You're right. The use case is multiple attributions to different content. If we include a block, the widget will not be affected. That is why we are including the warning before the license text that goes:

With the next release (will be out in a couple of days) I have removed the border of the blocks and made a few changes. If you have some input about the design of the blocks that will be welcom

[2019-07-25 17:35] ChoccyHobNob commented on #72
OK I'll check it out.

[2019-08-01 21:46] ahmadbilaldev commented on #72
New version [v2019.7.2](https://github.com/creativecommons/wp-plugin-creativecommons/releases/tag/v2019.7.2) released. See the changelog for more.

[2019-08-06 15:31] ahmadbilaldev opened #74 "No options available for the widget"
There should be an option to remove the title.

**Screenshots**

![Widget](https://user-images.githubusercontent.com/19692245/62553560-fced8b80-b888-11e9-9c63-859d7a00aaba.png)

[2019-08-06 22:07] #74 closed

[2019-08-06 22:25] ahmadbilaldev commented on #74
![Widget](https://user-images.githubusercontent.com/19692245/62581519-ebc17080-b8c2-11e9-8687-ab07778d2735.png)

[2019-08-06 22:25] ahmadbilaldev commented on #72
#74

[2019-08-09 13:59] TimidRobot opened #75 "Calling files remotely (WordPress.org plugin submission issue)"
For context, `/includes/class-creativecommons-button.php`: [Line 138](https://github.com/creativecommons/wp-plugin-creativecommons/blob/e93ccfc4817f7737af03af95e93664b413fae24c/includes/class-creativecommons-button.php#L138)-144:
[code]

[2019-08-09 14:04] TimidRobot opened #76 "Calling images remotely (WordPress.org plugin submission issue)"

[2019-08-09 14:06] TimidRobot opened #77 "Generic function (and/or define) name (WordPress.org plugin submission issue)"

[2019-08-09 14:25] hugosolar commented on #77
I like `commons_` although I think `ccplugin_` it's more accurate

[2019-08-09 14:40] kgodey commented on #77
I like CREATIVECOMMONS (or CREATIVE_COMMONS), I think it is the most
unambiguous namespace even if it is long.

On Fri, Aug 9, 2019 at 10:37 AM Timid Robot Zehta <notifications@github.com>
wrote:

--
Kriti Godey
Director of Engineering
Creative Commons <https://creativecommons.org/>

[2019-08-09 14:50] ahmadbilaldev commented on #77
My preference will be `CCPLUGIN__`. We can go ahead and change them as soon as all of you agree,

[2019-08-09 15:00] kgodey commented on #77
Go ahead!

[2019-08-09 15:13] TimidRobot opened #78 "Document process for WordPress.org plugin deployment"
## Overview
Once the plugin is approved by Wordpress.org, we'll need a documented process for updating it there.

## Documentation
- [Using Subversion | Plugin Developer Handbook | WordPress Developer Resources](https://developer.wordpress.org/plugins/wordpress-org/how-to-use-subversion/)

## Potential solutions/tools
- [GaryJones/wordpress-plugin-svn-deploy](https://github.com/GaryJones/wordpress

[2019-08-13 08:35] ahmadbilaldev commented on #78
## Potential solutions/tools
- [WPGitDeploy-CLI](https://github.com/ahmadawais/WPGitDeploy-CLI): Deploy your WordPress plugin from GitHub to WordPress.org SVN repository.

[2019-08-16 07:53] #77 closed

[2019-08-22 13:31] #76 closed

[2019-08-22 13:38] #75 closed

[2019-08-23 20:38] #54 closed

[2019-08-23 20:39] ahmadbilaldev commented on #6
Fixed. See #54.

[2019-08-23 20:39] #6 closed

[2019-08-23 21:50] ahmadbilaldev commented on #50
Settings have been re-designed. The given error has also been fixed in [Show additional attribution text on all pages](https://github.com/creativecommons/wp-plugin-creativecommons/commit/151c1e7b1909a072057f165ead85e880fe31a072).

![cc-settings](https://user-images.githubusercontent.com/19692245/63625727-e893e780-c619-11e9-92da-81ddfd98b5ba.png)
*Settings*

[2019-08-23 21:50] #50 closed

[2019-08-23 21:52] ahmadbilaldev commented on #16
Settings have been revamped.

![cc-settings](https://user-images.githubusercontent.com/19692245/63625818-3ad50880-c61a-11e9-88bf-5c47fc6100a3.png)
*Settings*

[2019-08-23 21:52] #16 closed

[2019-08-23 21:56] ahmadbilaldev commented on #12
Removed dependency on `get_attribution_options()`.

[2019-08-23 21:56] #12 closed

[2019-08-23 22:01] ahmadbilaldev commented on #72
Updated with completed suggestions.

[2019-08-24 21:09] ahmadbilaldev commented on #10
To avoid this problem, the default license text now reads:

In addition, the user can add additional text of their own for added clarity, if they so choose.

[2019-08-24 21:09] #10 closed

[2019-09-04 08:13] lenasterg opened #80 "Internationalize the plugin"
Hi.
Thanks for the great work.
Currently the plugin doesn't follows the WP guidelines for intenationalization https://developer.wordpress.org/plugins/internationalization/how-to-internationalize-your-plugin/
so it can't be translated in other languages.

Bests Lena

[2019-09-04 15:32] TimidRobot opened #81 "Improve readme.txt for WordPress.org formatting"
# Describe the bug
The rendering of [`readme.txt`](https://github.com/creativecommons/wp-plugin-creativecommons/blob/master/readme.txt) on WordPress.org exposes formatting issues. To improve:
- lines should *not* be hard wrapped
- remove inline code backticks

# To Reproduce
Steps to reproduce the behavior:
- Go to [Details - Creative Commons – WordPress plugin | WordPress.org](https://wordpress.o

[2019-09-04 21:13] #78 closed

[2019-09-27 02:36] #81 closed

[2019-11-08 16:31] kgodey commented on #70
This should wait until the new license chooser is farther along and provides a widget.

[2019-11-08 16:35] kgodey commented on #39
AFAIK, this is no longer applicable.

[2019-11-08 16:35] #39 closed

[2019-11-08 16:39] kgodey commented on #22
This issue no longer seems relevant.

[2019-11-08 16:39] #22 closed

[2019-11-12 06:41] vijayaraghavanramanan opened #83 "Image size in HTML"
Browsers which have the lazyload feature require the image size to be given in the HTML tag.

I see this warning on Chrome developer tools.

![image](https://user-images.githubusercontent.com/13736892/68648004-4f53dd80-0545-11ea-9332-c46390f4eb6f.png)

Of course, this plugin doesn't lazyload, but it's easier if the size is specified by this plugin itself for the cc image.

[2019-11-13 20:48] TimidRobot opened #84 "Update for WordPress 5.3"

[2019-11-15 00:23] kgodey opened #85 "Plan out integration with CC Vocabulary"
We should use CC Vocabulary for all the UI components offered by this plugin. This issue is to write up a spec and create the associated GitHub issues for what that would entail.

[2019-11-22 19:40] nemobis commented on #80
Many Wikimedia blogs need to attribute CC-BY and CC-BY-SA works, so it would be nice to have the translations on translatewiki.net. https://translatewiki.net/wiki/Translating:New_project

[2019-12-13 03:41] TimidRobot opened #86 "Configure Subdomain for Engaging Networks Email Newsletter Delivery"
## Problem Description
Emails sent from Engaging Networks use an `e-activist.com` subdomain, which looks dodgey.

This is separate, but related to [Configure Subdomain for Engaging Networks Email Newsletter Signups · Issue #364](https://github.com/creativecommons/tech-support/issues/364)

## Solution Description
If possible,  Configure Subdomain for Engaging Networks Email Newsletter Delivery.

[2019-12-19 15:42] siccovansas opened #87 "Error editing posts/pages when using Classic Editor plugin"
## Describe the bug
I use the [Classic Editor](https://wordpress.org/plugins/classic-editor/) plugin made by WordPress, which allows me to continue using the old editor (instead of Gutenberg). I need this as I'm waiting for another plugin that I rely on to become compatible with Gutenberg. When I have the Classic Editor plugin enabled though I get the following error when I load a post/page in the

[2019-12-23 16:58] #84 closed

[2019-12-23 17:00] #83 closed

[2019-12-23 17:11] hugosolar opened #89 "Non existent functions called and not-defined variables"
## Describe the bug
I found a non-existent method in `class-creativecommons.php` line 417
[code]
Method `select_license_html()` didn't exist

Also, `class-creativecommons-image.php` line `432`
[code]

`$image_metadata` doesn't exist

[2019-12-23 19:49] vijayaraghavanramanan commented on #83
Hi, this doesn't seem to be included in the Wordpress release*

See: https://plugins.trac.wordpress.org/browser/creative-commons/trunk/includes/class-creativecommons.php#L1448

[2019-12-23 19:58] vijayaraghavanramanan commented on #83
Great.

Also, it's possible to insert the image with the block editor.

The size is needed there too. I guess it needs some javascript change.

[2019-12-23 20:53] hugosolar commented on #83
@vijayaraghavanramanan you're right. I'll work on those changes soon (January I think)

[2019-12-23 20:56] hugosolar opened #90 "Add image sizes on cc license badges in gutenberg blocks"
## Describe the bug
Same situation in #83 should apply to Gutenberg blocks as well

[2020-01-01 17:29] superpoincare opened #91 "image being loaded in network"
## Describe the bug
Image loads as an http request from site's IP address and shows in visitors. It seems that the plugin loads the file as an http request, instead of maybe doing a file_exists
## To Reproduce
Steps to reproduce the behavior:
Go to cPanel and click visitors. You can see that the png file is being requested when Wordpress is doing a cache warming. The user agent is "- [domain name]

[2020-01-09 18:33] hugosolar commented on #87
Thanks for notifying this!
I can't reproduce the error but it's definitely related with #89
you can track the progress there

[2020-01-11 07:22] one909 commented on #72
😭

[2020-01-20 19:36] #87 closed

[2020-01-20 19:36] #89 closed

[2020-01-27 11:41] #90 closed

[2020-01-27 17:48] TimidRobot opened #94 "Create 2020.01 tag/release"
## Issue Description

Create [v2020.01.1 Milestone](https://github.com/creativecommons/wp-plugin-creativecommons/milestone/8) tag/release

## Related Links

* [Releases · creativecommons/wp-plugin-creativecommons](https://github.com/creativecommons/wp-plugin-creativecommons/releases)

[2020-01-28 08:11] m7nar110 commented on #72
@TheRobotFactory

[2020-01-28 08:12] m7nar110 commented on #72
I’m sure we have some friends

[2020-01-30 00:33] #94 closed

[2020-02-17 09:46] cmlnet commented on #80
Internationalisation would indeed be great! :-)

[2020-02-25 22:18] vestigialcode commented on #80
I would like to work on this feature..

[2020-02-26 00:13] kgodey commented on #80
@vestigialcode go ahead.

[2020-03-10 17:27] Siyubu commented on #21
I am an outreach applicant for may 2020 intake, I would want to work on this project

[2020-03-11 15:27] TimidRobot opened #98 "Verify WordPress 5.4 compatibility"
## Problem Description
Test WordPress 5.4 compatibility and update "Tested up to:" values:

[2020-03-12 15:07] kgodey commented on #13
This issue is no longer valid. The format of the metadata fields is fine now.

Closing this issue.

[2020-03-12 15:07] #13 closed

[2020-03-15 06:05] zhaofeng-shu33 commented on #80
I find there are already Dutch language `nl_NL.po`.

[2020-03-15 18:08] shrutisatish00 commented on #98
I would like to work on this

[2020-03-17 13:48] zhaofeng-shu33 commented on #80
I have opened a WIP PR for this issue, any suggestions or feedback?

[2020-03-17 17:24] kgodey commented on #98
@shrutisatish00 go ahead. Per our new [contribution guidelines](https://opensource.creativecommons.org/contributing-code/), you do not need approval to work on issues marked "help wanted"

[2020-03-18 15:21] cangreja533 commented on #98
Hi, i'm a internship applicant outreachy. I can I work on this issue?

[2020-03-19 14:23] ahmadbilaldev commented on #21
Sure, but do realize that this particular issue is of a lower priority as of now.

[2020-03-19 18:48] ahmadbilaldev commented on #98
Since this verification might be difficult to test manually for new contributors and should not be delayed, I have made the changes.

[2020-03-21 16:53] vestigialcode opened #102 "while choosing CC0 Universal Public Domain Dedication license (CC0) by default the link it should show lisence page of CC"
## Describe the bug
while choosing the  CC0 Universal Public Domain Dedication license (CC0)  in admin panel  the back link of cc0 should redirect to actual licenses page

## To Reproduce

1. Go to admin panel
2. Click on settings
3. Scroll down to Creative Commons
4. select the lisences>  CC0 Universal Public Domain Dedication license (CC0) >click footer>Save changes

## Expected behavior

May be

[2020-03-26 06:52] neelansh15 commented on #91
**I can confirm this.** I too see the request for the image file in __visitors__.
The CC image file is not confidential, so why would that be a problem?

I presume you don't want your site's IP in visitors? Keep in mind that crawlers also access your site so the cPanel __visitors__ section is no good for counting users if that's what you want.

[2020-03-26 12:40] hugosolar commented on #102
Thank you for pointing this out!
there's a PR (#103) awaiting for review to fix this

[2020-03-26 15:21] #102 closed

[2020-03-27 11:26] vestigialcode commented on #91
Agreed @neelansh15 .

[2020-03-31 04:41] Rajesh-Royal commented on #85
I would like to work on this feature.

[2020-03-31 18:47] kgodey commented on #85
Go ahead and write a spec for it, @Rajesh-Royal

[2020-04-01 14:21] Rajesh-Royal opened #106 "Add cc-image search feature in plugin"
## Problem Description

When a user wants to include an cc-image they have to leave WordPress dashboard to get an image from [CC Search](https://ccsearch.creativecommons.org) to include in post or page.

## Solution Description

We can add an inbuilt search function to the plugin so the user can include cc-images directly from the WordPress dashboard.
#### Possible options

- We can add this featu

[2020-04-02 02:27] Rajesh-Royal commented on #85
Thanks, I will write it when I finished Implementing CC-image-search in plugin by cc-catalogue API

[2020-04-02 02:33] Rajesh-Royal commented on #85
can we use [lenasterg](https://github.com/lenasterg/ls-wp-ccsearch) codebase to kickstart the process.

[2020-04-02 16:27] kgodey commented on #85
@Rajesh-Royal that repo isn't related to Vocabulary

[2020-04-02 16:44] Rajesh-Royal commented on #85
No, I meant to add CC-image-search feature to the plugin by catalogue API. Lensaterg already have a sample codebase.

[2020-04-02 21:44] kgodey commented on #85
@Rajesh-Royal please discuss that on the appropriate issue, this is unrelated.

[2020-04-04 22:35] sickster commented on #98
yes>

[2020-04-04 22:40] sickster commented on #98
yes

[2020-04-06 14:06] #98 closed

[2020-04-06 18:51] d-peshlakai commented on #91
Im having trouble picking an first issue. Im working with WAMP and dont think I can access cpanel. I have to submit a contribution. How do I go further ?

[2020-04-07 06:22] neelansh15 commented on #91
@d-peshlakai If you wish to contribute to this specific issue, then you can use any _free hosting site_ to install Wordpress and this plugin to test the issue. Thay way you can check with the cPanel _visitors_ section.
I am not really sure of the necessity of this issue though.

I am not a member of Creative Commons, but if you're looking to contribute in general then you can try exploring other e

[2020-04-07 08:05] vestigialcode commented on #91
hey @d-peshlakai  [try this](http://insightsdemo.eklablog.com/how-to-install-cpanel-on-wamp-server-a182795836) . It might help setting up enviornment for cpanel.

[2020-04-16 12:50] #80 closed

[2020-04-16 14:09] kgodey commented on #106
@hugosolar will update this ticket with more implementation details.

[2020-04-17 14:10] hugosolar commented on #106
We're expecting this feature will be implemented:
- Using [CC Catalog API](https://api.creativecommons.engineering/v1/)
- Since Classic Editor will be [officially supported](https://make.wordpress.org/core/2018/11/07/classic-editor-plugin-support-window/) until 2021 we should consider support for this editor
- Gutenberg support via adding a new image block
- Support all available filters in the AP

[2020-04-20 04:04] hugosolar opened #108 "Remove outdated language files"
## Problem Description
Since the last major update of the plugin, there are outdated files in the `language` folder

## Solution Description
Investigate which files are outdated and remove them from the repository

[2020-04-20 04:07] hugosolar opened #109 "Transifex integration"
## Problem Description
We need to integrate the plugin translation with Transifex

## Solution Description
- Investigate possible integrations
- Investigate Transifex integrations WordPress plugins

[2020-04-23 21:50] TimidRobot opened #111 "Update dependencies"
## Describe the bug
Update dependencies

See security alerts: https://github.com/creativecommons/wp-plugin-creativecommons/network/alerts

[2020-05-04 15:11] siccovansas opened #112 "Allow for other licenses"
## Problem Description
We mostly use Creative Commons licensed images on our website, but sometimes we might want to use an image with a different license, for example [Pixabay's](https://pixabay.com/nl/service/license/). When I go into the Media section of WordPress I can't specify a licence other than a Creative Commons license.

## Solution Description
When editing an image in the Media section

[2020-05-04 15:55] #112 closed

[2020-05-11 16:19] #111 closed

[2020-05-13 08:57] siccovansas opened #114 "Call to undefined method CreativeCommons::cc0_html_rdfa()"
## Describe the bug
When I use the CC0 license for an image I can't post/preview a post/page as I get a critical error.
When I look in the logs I see:

`NOTICE: PHP message: PHP Fatal error:  Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Call to undefined method CreativeCommons::cc0_html_rdfa()`

When I search for `cc0_html_rdfa` in your GitHub repo I indeed don't see any method

[2020-05-28 11:49] #114 closed

[2020-06-24 14:10] rczajka opened #117 "Automatically adding licensing information for embedded content"
## Problem
The plugin allows an author to set a license for her site or post, or insert a block with licensing info, by choosing from a set of CC licenses. There is also licensing information added to items in the media library, but no easy way to use that when embedding content.

## Description
It would be useful to be able to add licensing and attribution information for embedded content (images

[2020-07-02 12:42] sickster commented on #21
main.in: main.m /usr/include/GNUstep/Foundation/Foundation.h \
 /usr/include/GNUstep/GNUstepBase/GSVersionMacros.h \
 /usr/include/GNUstep/GNUstepBase/GSConfig.h \
 /usr/include/GNUstep/Foundation/FoundationErrors.h \
 /usr/include/GNUstep/Foundation/NSObject.h \
 /usr/include/GNUstep/Foundation/NSObjCRuntime.h \
 /usr/include/GNUstep/GNUstepBase/GNUstep.h \
 /usr/include/GNUstep/GNUstepBase/GSBlo

[2020-07-07 15:23] hugosolar opened #118 "When plugin is activated automatically shows license on Footer"
## Description
When the plugin is activated it automatically shows the license on the footer, even if there's no license (by-sa) and no display option set.

## Reproduction
1. Install the plugin on a fresh WordPress install
2. Activate the plugin
3. Check the homepage
4. See how the license is displayed.

## Expectation
If there's no license selected the footer shouldn't appear

## Screenshots
![S

[2020-07-07 17:14] siccovansas commented on #114
I don't want to ask for too much, but could a new version of the plugin be released so I can make use of this fix :)?

[2020-07-07 18:23] TimidRobot opened #119 "Deploy v2020.07.1"
## Description
- [x] Create `v2020.07.2` milestone
- [x] Coordinate with @hugosolar on issue resolution and then deploy milestone [`v2020.07.1`](https://github.com/creativecommons/wp-plugin-creativecommons/milestone/10)

[2020-07-14 09:37] annatuma commented on #117
Question: is there a link available to a demo of this, or even screenshots?

I do think generally the block approach is better than the hover icon, because then the license information is instantly communicated and less likely to be missed, but I'm interested in seeing how you've designed this.

[2020-07-20 18:05] kgodey commented on #117
@hugosolar @TimidRobot please add comments

@rczajka please also submit a PR so that we can review the code

[2020-07-20 21:25] #118 closed

[2020-07-21 02:10] hugosolar commented on #117
I would be careful with the hover events on touch screens, usually it's not very accesible. I think I would prefer to switch the license display underneath the image on phone or tablets.
Because of this, it has some issues when I try to close the tooltip

![20200720_220539](https://user-images.githubusercontent.com/894708/88004780-c4fd4980-cad5-11ea-85cf-3692ebbba4cd.gif)

[2020-07-23 15:22] #119 closed

[2020-07-23 17:51] kgodey commented on #114
@siccovansas we've released a new version of the plugin, sorry for the delay

[2020-07-24 07:53] rczajka commented on #117
Thanks for the comments.

I agree the accessibility issues still must be resolved before a PR could be considered.

I think moving the accessibility under the image for smaller screens is a good idea. Also, there was an idea to add a configuration switch to let the administrator decide if they want to just add the information below instead of the hover.

As for the icon: using the CC icon would ma

[2020-07-24 13:44] kgodey commented on #117
Regarding the icon, this plugin only supports CC licenses and tools, we don't currently support any other licenses. So we think the CC icon still makes sense.

[2020-07-29 14:30] rczajka commented on #117
Hi,
after some discussions we'll be moving to hover-less solution (see attachment), so both the question of the hover accessibility, and the activation icon, are no longer relevant.
![licencje_szablon](https://user-images.githubusercontent.com/264402/88813044-bb9c6d00-d1b8-11ea-886f-c288881c0982.jpg)

[2020-07-29 16:41] annatuma commented on #117
That is a very clean approach! First column is creator name, and second column is image title? License icons will be linked to the Deed pages for the selected license, correct?

A _very cool_ expansion of this feature would be an action available to someone who sees this image to embed it, as it stands, elsewhere. I know that's out of scope, but nothing to consider for the future, in terms of our

[2020-07-29 19:58] kgodey commented on #117
@rczajka looks good! Please make a PR when the code for it is ready.

[2020-08-03 16:27] TimidRobot opened #125 "Prep for WordPress 5.5"
## Description

[2020-08-09 19:27] vijayaraghavanramanan opened #126 "Add loading="lazy" to the image tags"
## Problem
Images in Wordpress 5.5 will be lazy-loaded [by default](https://make.wordpress.org/core/2020/07/14/lazy-loading-images-in-5-5/).  Needs the image loaded by this plugin to be lazy-loaded.

## Description
Wordpress 5.5 will load images as lazy by default. However, it doesn't cover all images. Only images in posts and some widgets. So this plugin would need to add

`loading="lazy"`

to th

[2020-08-12 14:07] vijayaraghavanramanan commented on #126
Should add that Wordpress had the filter `wp_lazy_loading_enabled`, so this plugin needn't add a filter of its own but check check if the Wordpress filter has been added by the site.

[2020-08-24 08:45] decon-harsh commented on #126
I am working on plugins and wordpress for the first time , so as far as I understood I had to add a filter `add_filter($img, wp_lazy_loading_enabled, __return_true)`
 targeting img tags in   includes/class-creativecommons-image.php. ?

[2020-08-24 18:05] vijayaraghavanramanan commented on #126
@decon-harsh

That filter is for Wordpress in general, and a site user can disable lazy loading by default by that filter,

This plugin shouldn't enable or disable it using that filter.

However, it will be useful, If there's some way to check if the site has disabled lazy load by default, the image tag by this plugin should also not load lazy. If the filter is true, then lazy load.

[2020-08-26 20:56] #117 closed

[2020-08-26 22:42] hugosolar commented on #126
Hey @vijayaraghavanramanan! thank you for flagging this
I think we should check WordPress version as well considering compatibility backward
since this filter is introduced in 5.5 we may need to check if the filter exists in the current version
Also, if we decide to include all the images on the plugin we may need to filter the parameter to check whether the lazy load flag is true or not
does that

[2020-08-28 17:03] vijayaraghavanramanan commented on #126
@hugosolar

Yeah good point about 5.5, although if we could figure out if the filter introduced in 5.5 has not been disabled, we can do it in just one go.

[2020-08-31 12:12] vijayaraghavanramanan commented on #126
This might be of relevance:

https://github.com/WordPress/WordPress/blob/af523447f46c351cb27432813273049777fbb890/wp-includes/media.php#L1696-L1712

Maybe find if function exists and evaluate it to find if loading hasn't been disabled.

[2020-08-31 18:56] hugosolar commented on #126
You're right!. that function should do the trick. So, there are two things to do here:

- Check if the function exists to enable lazy loading
- Filter the images on the plugin to add the `loading="lazy"` attribute

am I right?

[2020-08-31 20:17] TimidRobot opened #127 "Release/deploy v2020.08.1"
## Description
- [x] Create `v2020.09.1` milestone and move unresolved issues from milestone [`v2020.08.1`](https://github.com/creativecommons/wp-plugin-creativecommons/milestone/11)
- [x] Update versions and create PR
- [x] Create release for milestone [`v2020.08.1`](https://github.com/creativecommons/wp-plugin-creativecommons/milestone/11)
- [ ] Deploy to WordPress

[2020-08-31 20:41] #127 closed

[2020-09-04 15:36] TimidRobot opened #130 "Release/deploy v2020.09.1"
## Description
- [x] Create `v2020.09.2` milestone and move unresolved issues from milestone [`v2020.09.1`][milestone]
- [x] Submit, elicit reviews, and merge PR with updated versions and changelog
- [x] Create release for milestone [`v2020.09.1`][milestone]
- [x] Deploy to WordPress
- [x] Close milestone [`v2020.09.1`][milestone]

[milestone]: https://github.com/creativecommons/wp-plugin-creative

[2020-09-04 16:50] #130 closed

[2020-09-23 19:42] GwynethLlewelyn opened #132 "How to do/add translations?"
## Problem
Apparently, the code for implementing multiple languages is not properly done according to WP best practices, or so is claimed on https://translate.wordpress.org/projects/wp-plugins/creative-commons/

I use the [Loco Translate](https://wordpress.org/plugins/loco-translate/) plugin to add translations, which complains about lack of proper internationalisation support (although it still w

[2020-09-27 02:48] elaynelemos commented on #108
Hey! I would like to work on it if still available.

[2020-09-28 15:11] kgodey commented on #108
go ahead @elaynelemos

[2020-10-06 13:17] #126 closed

[2020-10-12 20:57] hugosolar commented on #132
Thank you so much for flagging this. I'll add it to our sprint to fix this as soon as possible. Thank you for your Portuguese contribution as well, I'll add it to the plugin. ⭐

[2020-10-15 08:40] Sokiraon commented on #132
I've made a translation of Chinese (China). Could you help me add it to the plugin as well? Thank you!
[CreativeCommons-zh_CN.zip](https://github.com/creativecommons/wp-plugin-creativecommons/files/5383461/CreativeCommons-zh_CN.zip)

[2020-10-15 12:09] Sokiraon commented on #132
@hugosolar

[2020-10-28 14:33] siccovansas opened #134 "Change some text for CC0 image attribution"
## Description
When I go to my WordPress Media page and add a CC0 license to an image the generated license text for that image is:

Shouldn't it be something like:

And maybe the "_Except where otherwise noted,_ " should be removed as well when licensing media?

## Reproduction

1. Add a CC0 license to media
4. See text

## Expectation
Expect text specifying that the license only holds for that i

[2020-11-08 07:34] ankitmishra88 commented on #134
Hello, I have a good hand on wordpress plugin development and customization. But almost no with open source, I want to fix this particular issue. Can u please explain a bit more, how I can reproduce this behaviour, I tried to add license in media library, also I added that to a post. But couldn't find attribution text. Please let me know, how I can check the issue?

[2020-11-19 23:38] TimidRobot opened #137 "Release/deploy v2020.11.1"
## Description
- [x] Create [`v2021.01.1`][milestone-next] milestone and move unresolved issues from milestone [`v2020.11.1`][milestone-now]
- [x] Submit, elicit reviews, and merge PR with updated versions and changelog
- [x] Create release for milestone [`v2020.11.1`][milestone-now]
- [x] Deploy to WordPress: [Creative Commons – WordPress plugin | WordPress.org](https://wordpress.org/plugins/crea

[2020-11-20 16:04] #137 closed

[2021-01-29 09:16] Cronus1007 commented on #108
@hugosolar Shall i take over this issue.

[2021-01-30 01:27] Cronus1007 commented on #132
@hugosolar let me add the required languages in the language folder and start with this one CreativeCommons-zh_CN.zip

[2021-02-16 11:07] CapriciousRebel commented on #91
Hello, Is this issue still open? I would like to work on this one.

[2021-02-19 20:36] d-peshlakai commented on #91
I'm not in this group.

On Fri, Feb 19, 2021, 12:25 PM Timid Robot Zehta <notifications@github.com>
wrote:

[2021-02-26 12:50] nishantwrp commented on #134
Hi @siccovansas, can you please elaborate on what text are you exactly talking about? I added a license to a image and I could see no text generated.

![Unnamed](https://user-images.githubusercontent.com/36989112/109302432-46cd0680-785f-11eb-80b3-8db8b9553b65.jpg)

[2021-02-26 14:15] siccovansas commented on #134
Hi @nishantwrp, the text I get is generated by the [license_html_rdfa](https://github.com/creativecommons/wp-plugin-creativecommons/blob/79dac40198a00affd0d962a191e2a4586527f6af/includes/class-creativecommons.php#L1137) function which I call in a script to add the license to media.

[2021-03-01 07:25] nishantwrp commented on #134
Hi, I still can't get how this function is used to generate licenses for media. Can you please maybe provide some steps/screenshots to reproduce this error?

[2021-03-03 09:01] siccovansas commented on #134
@nishantwrp you can find the code in which we call the `license_html_rdfa` function here: https://github.com/openstate/open-state-theme-2019/blob/94ff57a84377c34376f39aa793e57b9c0e0c4d08/app/filters.php#L155-L270

[2021-03-04 06:50] nishantwrp commented on #134
Hi @siccovansas, actually that function is used in this plugin to generate_rdfa on the complete site i.e. by footer or widget. I don't think there is such function for image attributes (@hugosolar please confirm). However, I think you can do something like

https://github.com/creativecommons/wp-plugin-creativecommons/blob/ce7e1ce14e6718fc2c44ef876eadaa691b58700f/src/CC-BY-CC0/block.js#L91

[2021-03-04 15:55] #108 closed

[2021-03-16 20:45] NicoHood opened #148 "Empty title adds extra padding"
## Description
This is how the widget looks with a title:
![grafik](https://user-images.githubusercontent.com/6888294/111376887-4f676e80-86a0-11eb-8660-f6baee331c9c.png)

And this is without (empty title highlighted):
![grafik](https://user-images.githubusercontent.com/6888294/111377028-7cb41c80-86a0-11eb-951a-17871d38f695.png)

You can clearly see, that there is additional padding to the top, cau

[2021-04-03 16:09] VictorVenema opened #151 "Position of the license text"
Most blog posts have a line at the end reading something like:

_Posted in <categories> | Tagged <tags> | Leave a comment | Edit_

Would it be possible to have as one of the position options (next to widget, which in my theme are always in the sidebar, and footer) to add the license there. Something like:

_Posted in <categories> | Tagged <tags> | Leave a comment | Edit | < picture Creative Common

[2021-04-26 11:32] mandrasch opened #152 "a rel=license missing (machine readable license)"
Hey,

I did a quick test and it seems that the rel=”license” tag is not used?

Google (and other search engines) index it, it can be used in googles advanced search afterwards.

See e.g. https://smartcopying.edu.au/how-to-find-creative-commons-materials-using-google/

CC Choose tool also includes rel=license in the generated source code, see https://creativecommons.org/choose/

![Choose_a_License]

[2021-04-27 15:42] brylie commented on #148
Hei @NicoHood and @TimidRobot. I opened pull request #153 with a fix for this issue. Please let me know if that solution was close to what you had in mind.

[2021-04-27 19:09] NicoHood commented on #148
@brylie Yes, that looks like it should fix my issue. Thanks for having a look at it!

[2021-04-28 05:58] brylie opened #154 "Docker-compose for easy development environment?"
## Problem

There are several steps required to begin developing this extension, such as

1. set up WordPress, a web server, and database locally
2. configure phpcs for WordPress coding standards
3. configure code standards in IDE

Each of these steps can prove to be problematic.

## Description

Adding a Docker compose file can help make some of the above steps easier. For example, a basic Docker

[2021-04-28 06:00] brylie commented on #154
For reference, here is the `docker-compose.yml` I used to start developing `wp-plugin-creativecommons`.

[code]

[2021-04-29 07:50] brylie commented on #154
We might include a `.devcontainer` directory with `Dockerfile` and `docker-compose.yml` for developers who use the VS Code [Remote Containers extension](https://code.visualstudio.com/docs/remote/containers-tutorial).

[2021-04-29 16:56] #148 closed

[2021-04-29 17:00] TimidRobot opened #155 "Release/deploy v2021.04.1"
## Description
- [x] Create [`v2021.05.1`][milestone-next] milestone and move unresolved issues from milestone [`v2021.04.1`][milestone-now]
- [x] Submit, ~~elicit reviews,~~ and merge PR with updated versions and changelog
  - [update version to v2021.04.1 by TimidRobot · Pull Request #157](https://github.com/creativecommons/wp-plugin-creativecommons/pull/157)
- [x] Create release for milestone [

[2021-04-29 21:13] #155 closed

[2021-04-29 21:19] TimidRobot opened #158 "Verify for WordPress 5.7.x"
## Problem
Need to verify plugin works on the current version of WordPress and update `readme.txt`.

## Description

**This issue should be done *after* [Prep for WordPress 5.5 · Issue #125](https://github.com/creativecommons/wp-plugin-creativecommons/issues/125)**.

[2021-04-30 07:06] NicoHood commented on #155
I want to note, that the tested version on wordpress.org is outdated:
https://wordpress.org/plugins/creative-commons/

![image](https://user-images.githubusercontent.com/6888294/116660468-5c5fc900-a993-11eb-9a4f-4e4ba888c674.png)

[2021-06-19 18:27] kusinkay opened #162 ""Media & Text" blocks does not show CC labels properly"
## Description
Tested on "Twenty-twenty" theme, I realized that the  CC labels for an image inside a "Media & Text" block are showed in an unreadable column

## Reproduction
1. Provide cc data for an image
2. Select that image in a "Media & Text" block
3. Visit the content
4. See error.

## Expectation
I expected to see label as in a standalone image

## Environment
 - Device: Laptop Fujitsu
 - OS

[2021-07-21 09:21] #162 closed

[2021-09-22 06:53] NicoHood commented on #158
Will this addon be updated to 5.8.x?

[2021-10-03 09:50] scottlimmer commented on #152
Anyone working on this?

[2021-10-05 18:25] Enkerli commented on #158
Like @NicoHood, also very curious about a 5.8.x update.

Just mentioned this plugin during a Sprint report for our new site, as it'd be a neat solution for us. The site is a merge of two separate sites which have been publishing content with distinct licenses (CC-BY-NC-SA vs. CC-BY-NC-ND). We also want to make it really seamless what licenses people can choose for future items. So, I had high hope

[2021-10-11 08:57] brylie opened #185 "Test adding `wordpress/env` for local development"
The Gutenberg team have published `@wordpress/env` as a tool for simplifying WordPress development environments. However, we have tried the `@wordpress/env` project in `project_creativecommons.org` and were bitten by some complexities as well as determining it wasn't a good fit for the project.

That said, the `wp-plugin-creativecommons` project may be a better candidate for using `@wordpress/env`

[2021-10-11 09:10] brylie opened #186 "Notice: wp_enqueue_script() was called incorrectly"
When installing the CreativeCommons plugin, on WordPress 5.8, the following notice is displayed:

[2021-10-11 09:22] brylie opened #187 "Warning: getimagesize: failed to open stream"
When installing this plugin in a local WordPress 5.8 development environment, the following error is displayed when rendering the license:

## Steps to reproduce

1. set up WordPress 5.8 (locally or on a server) in development mode
2. install the latest version of the code from this repository in the WordPress plugins directory
3. Go to Settings -> Creative Commons
4. configure the desired license

[2021-10-11 10:15] brylie opened #189 "[RFC] deprecate `create-guten-block` scripts; use `@wordpress/scripts` instead"
When this project was started, we used the `create-guten-block` scripts to scaffold the code. Since that time, the `@wordpress/scripts` project has become the de facto standard for managing Gutenberg block projects/code. As such, we should consider the implications of adopting `@wordpress/scripts` for this project and deprecating `create-guten-block`.

[2021-10-12 01:38] cillacode opened #190 "Composer Upgrade failed"
Installing composer on Ubuntu terminal using the command "sudo apt install composer"  automatically installs composer 1, next i ran the command to install codesniffer "composer global require squizlabs/php_codesniffer" and got warning message  of Composer 1 is deprecated some packages will not be available.  ran the upgrade command of self-update --2, and returned self update not a command, then i

[2021-10-12 17:35] mimi-tech commented on #187
Hi , I am an Outreachy candidate. I will like to work on this issue. Thank you.

[2021-10-13 07:30] brylie commented on #187
@mimi-tech, thanks! I'll assign you to the issue.

[2021-10-13 09:28] mimi-tech commented on #187
@brylie, Alright, thanks so much

[2021-10-13 13:29] mimi-tech commented on #187
Alright, thanks a lot.

[2021-10-13 19:18] mimi-tech commented on #187
@BjornW , These are the errors I am getting. It is different from the error mentioned above. Please can you explain to me how to solve the error or is it from the way I installed the plugin.
Thank you.

[13-Oct-2021 18:58:04 UTC] called site
[13-Oct-2021 18:58:04 UTC] single site, get site license or else default settings
[13-Oct-2021 18:58:04 UTC] get license for the frontend
[13-Oct-2021 18:58:0

[2021-10-14 15:13] cillacode commented on #186
hi @brylie i will love too work on this issue thanks.

[2021-10-15 22:18] MuluhGodson commented on #190
Hello @cillacode
The error suggest that a package is missing from your system.
To install this package run the command:
`sudo apt install php8.0-xmlwriter`

[2021-10-17 17:37] cillacode commented on #185
yes i can do that

[2021-10-21 10:01] #185 closed, assigned to brylie, cillacode

[2022-02-17 05:53] suriyawutkhongprom opened #194 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-02-17 05:53] suriyawutkhongprom opened #195 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-05-11 17:06] #125 closed

[2022-07-19 16:03] possumbilities opened #199 "[Feature] Setup baseline docker-compose.yml file for easier development"
## Problem
See https://github.com/creativecommons/wp-plugin-creativecommons/issues/154
[code]

To scale back scope, we'll start by addressing item `1` and create a `docker-compose.yml` file at `./dev/` that can be called via `docker compose -f ./dev/docker-compose.yml [command]` in the commandline.

## Description

### MVP
At a minimum:
- [x] setup MySQL server (MariaDB preferably)
- [x] setup a w

[2022-07-19 18:00] possumbilities opened #200 "[Feature] Expand docker-compose.yml file to include wpcli functionality"
## Problem
See #199, this builds from there.

[code]

The baseline Docker Image would benefit from having the fully featured functionality of the WP CLI command line utility bundled in.

## Description
Once #199 is implemented, then as an expansion, WP CLI should be included in the `docker-compose.yml` file to allow more robust automated WP configuration and testing. At a minimum it can be include

[2022-07-19 18:13] possumbilities opened #201 "[Feature] Expand docker-compose.yml file to include composer and phpcs functionality"
## Problem
See #199, this builds from there.

[code]

The baseline Docker Image would benefit from having Composer bundled in via the official Composer docker image, so that at a minimum the official WordPress Coding Standards rules for `phpcs` can be installed easily and configured for dev use. At current, the baseline image leaves this up to the individual dev to install and configure, bundling

[2022-07-19 18:20] possumbilities opened #202 "[Feature] Expand docker-compose.yml file to include database GUI application image (Adminer, phpMyAdmin)"
## Problem
See #199, this builds from there.

[code]

The baseline Docker Image would benefit from having some kind of GUI application setup to help with Database manipulation, especially for devs not comfortable interacting with the MySQL server via the command line directly.

## Description
Once #199 is implemented, then as an expansion, A Database GUI application image could be added in the `do

[2022-07-19 18:27] #154 closed

[2022-07-19 20:11] possumbilities opened #204 "[Bug] Footer display option for site-wide license is flush to left viewport edge"
## Description
At a minimum one would expect that the footer display option for the plugin would show the license details with some level of parity with the active theme, but instead it just left aligns the image and test to the far left edge of the viewport with no padding or margin.

## Reproduction

1. Activate the plugin
2. Navigate to Settings > Creative Commons
3. Select "Display license as"

[2022-07-19 20:22] possumbilities opened #205 "[Bug] Media item meta options area will not preserve selected license Title in License URL, despite License URL updating correctly"
## Description
When accessing an item in the Media Library to edit its specific meta information the various licenses can be selected from a select dropdown list. Choosing a License will update the relevant URL, but will not reflect that that License is chosen in the select list. No matter what License is chosen, and despite the URL being accurately updated, the actively selected item reverts back

[2022-07-19 21:31] #199 closed

[2022-07-27 15:08] possumbilities opened #206 "Release/deploy v2021.07.1"
## Description
- [x] Create or verify [`v2022.08.1`][milestone-next] milestone exists,  and move unresolved issues from milestone [`v2022.07.1`][milestone-now]
- [x] Submit, elicit reviews, and merge PR with updated versions and changelog
  - [update version to v2022.07.1 by possumbilities · Pull Request #207](https://github.com/creativecommons/wp-plugin-creativecommons/pull/207)
- [x] Create rele

[2022-07-28 22:02] #206 closed

[2022-08-01 02:57] xolotl opened #209 "CC plugin admin fails to load with PHP 8"
## Description
When moving to PHP 8.0.21, Creative Commons (CC) plugin admin settings fails to load with fatal error.

## Reproduction
1. Upgrade PHP in WordPress server environment from PHP 7.4.30 to PHP 8.0.21 (or perhaps any version of PHP 8).
2. Try to load the CC plugin admin view `/wp-admin/options-general.php?page=cc-admin`
3. See error (paths truncated so as not to show full server details

[2022-08-09 18:56] #209 closed

[2022-08-29 15:18] #91 closed

[2022-08-29 15:28] possumbilities commented on #31
Since the implementation of the CC Licenses as Gutenberg Blocks, editor shortcodes are no longer used to include licenses within content.

Additionally, the Classic Editor plugin will have official support ended as of Dec 31, 2022, and is no longer part of core, which means any legacy usage is both no longer a part of core WordPress and also about to lose official support.

[2022-08-29 15:28] #31 closed

[2022-09-06 17:10] possumbilities opened #211 "Scope strategy of the migration from `create-guten-block` scripts to a `@wordpress/scripts` core setup"
## Problem

Previously:
- #189

The use of `create-guten-block` as a scaffolding for the WordPress Gutenberg blocks has a number of compatibility and stability issues. Since the blocks were originally created with `create-guten-block` core WP has grown its capacity to handle scaffolding, dev, and build. To keep block dev stable long term, `create-guten-block` needs to be replaced entirely with cor

[2022-09-06 17:13] possumbilities commented on #189
Closing this issue since a number of things have shifted in context since it was originally opened. In several cases it won't be a simple 1:1, and as such a strategy to scope out the depth and breadth of this migration is needed first. That will be tracked here: #211

[2022-09-06 17:13] #189 closed

[2022-09-09 18:18] possumbilities opened #212 "Release/deploy v2022.09.1"
## Description
- [x] Create or verify [`v2022.10.1`][milestone-next] milestone exists,  and move unresolved issues from milestone [`v2022.09.1`][milestone-now]
- [x] Submit, elicit reviews, and merge PR with updated versions and changelog
  - #213
- [x] Create release for milestone [`v2022.09.1`][milestone-now]
  - [Release v2022.09.1 · creativecommons/wp-plugin-creativecommons][tag-release]
- [x]

[2022-09-09 20:27] #212 closed

[2022-09-23 19:12] possumbilities opened #214 "[Bug] CC logos do not show on images, when using the WPZoom theme Inspiro"
## Description

[From wordpress.org > Anybody out there? Couple of bugs](https://wordpress.org/support/topic/anybody-out-there-couple-of-bugs/) (CSS formatting and syntax updated):

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-10-05 17:56] dennisgon commented on #214
Hi can you assign this issue to me? I will try to fix the bug

[2022-10-06 06:22] MdSahil-oss commented on #205
@possumbilities I would like to work on this if triage get accepted.

[2022-10-06 13:22] possumbilities commented on #205
@MdSahil-oss Thank you! Please do! 🚀

[2022-10-09 18:24] CRortyDG commented on #152
After installing the plugin to test this issue I see that rel="license" does exist on the footer versions of each of the licenses. It exists on both the link around the CC image and the link to the CC explanation -

![footer-license](https://user-images.githubusercontent.com/115106247/194773111-ea14cfc2-17e8-4c60-b1e7-76e989f80cda.PNG)

But when the Gutenberg block of each of the CC types is used

[2022-10-09 22:17] CRortyDG commented on #152
In /includes/class-creativecommons.php It is evident where the footer content is defined and why it already includes rel="license", as this is in the function license_html_rdfa() where the HTML is directly defined. This function is called inside of print_license_html() where it gets the data needed and is originally called in /widgets/creativecommons-widget.php from the functions print_license_wid

[2022-10-09 22:56] CRortyDG commented on #204
I think a better solution would be adding the CC footer within the standard HTML <footer> element to align with site styles, but here is a solution that works by using the same calc as the default footer element -

![CC-Footer](https://user-images.githubusercontent.com/115106247/194783347-fb93a5e7-344b-4fbe-b888-5ff3dceffd90.PNG)

[2022-10-09 22:58] CRortyDG commented on #204
I think a better solution would be adding the CC footer element to the natural HTML <footer> element to match with site styles, but here is a possible fix that uses the same math as the default footer.

![CC-Footer](https://user-images.githubusercontent.com/115106247/194783408-efc1d68a-57f5-4260-9a7b-ebe754499800.PNG)

[2022-10-10 14:53] possumbilities commented on #204
@CRortyDG In principle I like your suggestion that it should be in the natural HTML `<footer>` element, but unfortunately there is no guarantee that any theme will have that element. There are still sites and themes that utilize `<div>` elements for nearly everything so I don't know of a way that we could safely make that route work.

As for you alternate fix, is that something you intend to submi

[2022-10-11 13:53] CRortyDG commented on #204
Understandable it cannot be added to the `<footer>` element!

I would like to submit a Pull Request! I have yet to do this and was only just getting started in open source with a problem I understood. I will have to read more about submitting pull requests to ensure I do it correctly before I do this though.

As for my solution... Thinking about the problem on a wider scale, I am not sure the chos